<aside>
    <div class="aside">
        <p>info</p>
    </div>
</aside>
<div class="content">
    <p><span>id: </span>{{id}}</p>
    <p><span>name: </span>{{name}}</p>
    <p><span>path: </span>{{path}}</p>
    <p><span>size: </span>{{size}}</p>
    <p><span>type: </span>{{type}}</p>
    <p><span>savedata: </span>{{savedata}}</p>
</div>