<script>
    function newFolder() {
        document.getElementById('newFolder').open = true
    }

    function newFile() {
        document.getElementById('newFile').open = true
    }
</script>

<div class="aside">
    <button class="btn create" onclick="newFolder()">NOWY FOLDER</button>
    <button class="btn create" onclick="newFile()">NOWY PLIK TEKSTOWY</button>
    <form class="upload" enctype="multipart/form-data" method="POST" action="/upload">
        <input id="upload" type="file" multiple require name="files" hidden>
        <label id="chooseFiles" for="upload">UPLOAD</label>
        <input id="uploadBtn" type="submit" value="OK">
    </form>
</div>
<div class="main">
    <div id="dirs" class="list">
        {{#each dirs}}
        <div class="file">
            <a href="/delete?name={{name}}&extension={{extension}}">DELETE</a>
            <img class="icon" src="/icons/{{icon extension}}.png">
            <p>{{name}}</p>
        </div>
        {{/each}}
    </div>
    <div id="files" class="list">
        {{#each files}}
        <div class="file">
            <a href="/delete?name={{name}}&extension={{extension}}">DELETE</a>
            <img class="icon" src="/icons/{{icon extension}}.png">
            <p>{{name}}</p>
        </div>
        {{/each}}
    </div>
</div>

<dialog id="newFolder">
    <form method="GET" action="/newFolder">
        <p>Utwórz nowy folder</p>
        <input type="text" name="dirname">
        <input class="btn" type="submit" value="OK">
    </form>
</dialog>

<dialog id="newFile">
    <form method="GET" action="/newFile">
        <p>Utwórz nowy plik tekstowy</p>
        <input type="text" name="filename">
        <input class="btn" type="submit" value="OK">
    </form>
</dialog>