<div class="aside">
    <p>FileManager</p>
    <a class="wyjatkowy" href="/deleteAll">USUŃ DANE</a>
</div>
<div class="right">
    <table>
        <thead>
            <th style="width: 60px;">id</th>
            <th style="width: 60px;">obraz</th>
            <th style="width: 380px;">name</th>
            <th style="width: 100px;">size</th>
            <th style="width: 200px;">type</th>
            <th style="width: 200px;">-</th>
            <th style="width: 200px;">-</th>
            <th style="width: 200px;">-</th>
            <th style="width: 200px;">-</th>
        </thead>
        <tbody>
            {{#each t}}
            <tr>
                <td style="width: 60px;">{{id}}</td>
                <td style="width: 60px;"><img src="/icons/{{icon filetype}}.png"></td>
                <td style="width: 380px;">{{name}}</td>
                <td style="width: 100px;">{{size}}</td>
                <td style="width: 200px;">{{type}}</td>
                <td style="width: 200px;"><a href="/show?id={{id}}">SHOW</a></td>
                <td style="width: 200px;"><a href="/info?id={{id}}">INFO</a></td>
                <td style="width: 200px;"><a href="/download?id={{id}}">DOWNLOAD</a></td>
                <td style="width: 200px;"><a href="/delete?id={{id}}">DELETE</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>