<div style="margin-top: 20px; margin-left: 30px; font-size: 20px; padding: 10px;">
    <h1>Info</h1>
    <p><span style="font-weight: bold; color: red;">id:</span> {{id}}</p>
    <p><span style="font-weight: bold; color: red;">name:</span> {{name}}</p>
    <p><span style="font-weight: bold; color: red;">path:</span> {{path}}</p>
    <p><span style="font-weight: bold; color: red;">size:</span> {{size}}</p>
    <p><span style="font-weight: bold; color: red;">type:</span> {{type}}</p>
    <p><span style="font-weight: bold; color: red;">savedate:</span> {{savedate}}</p>
</div>