<h2 class=" m-5"> Delete Cars page</h2>
<form method="get">
    <button type="submit" formaction="/deleteAll"  class=" btn-danger btn mb-4 ms-5 " value=""
    onclick="return confirm('Czy chcesz usunąć wybrane auta?')" name="DeleteAll">DELETE ALL CARS </button>
    
    <button type="submit" formaction="/deleteSelected"   class="btn-dark btn mb-4" value="{{_id}}"
     onclick="return confirm('Czy chcesz usunąć wybrane auta?')">DELETE SELECTED </button>
    
    {{#if message}}
    <div class="alert alert-danger" role="alert">
        <p class="alert-heading">{{message}}</p>
    </div>
    {{/if}}
    <table class=" table ms-5">
        <thead>
            <!-- nagłówek  -->
            <tr class=" table-danger">
                <th>Id</th>
                <th>Ubezpieczony</th>
                <th>Benzyna</th>
                <th>Uszkodzony</th>
                <th>Napęd 4x4</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each lista}}
            <!-- dla każdego auta należącego do listy  -->
            <tr class=" table-warning">
                <th>{{_id}}</th>
                <th>{{ubezpieczony}}</th>
                <th>{{benzyna}}</th>
                <th>{{uszkodzony}}</th>
                <th>{{napęd4x4}}</th>
                <th><button type="submit" onclick="return confirm('Czy chcesz usunąć auto?')"  formaction="/delete"
                        class=" btn btn-danger" name="Delete" value="{{_id}}">DELETE</button></th>
                <th ><input class=" me-5" type="checkbox" name="{{_id}}"></th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
