<h2 class=" m-5"> List cars page</h2>
<table class="table m-lg-5">
    <thead>
        <tr class=" table-danger">
            <th>Id</th>
            <th>Ubezpieczony</th>
            <th>Benzyna</th>
            <th>Uszkodzony</th>
            <th>Napęd 4x4</th>
            <th>INFO</th>
        </tr>
    </thead>
    <tbody >
        {{#each lista}}
        <tr class=" table-warning" >
            <th>{{_id}}</th>
            <th>{{ubezpieczony}}</th>
            <th>{{benzyna}}</th>
            <th>{{uszkodzony}}</th>
            <th>{{napęd4x4}}</th>
            <th><button class=" btn btn-danger">info</button></th>
        </tr>
        {{/each}}
    </tbody>
</table>